@model IEnumerable<ITU.RefereeAssistant.Domain.Models.Player>
@{ var count = 0;}
<p>
    @Html.TextBox("NewPlayer", "")   
    @Helpers.MyButton("+", "AddPlayer()")
</p>
<table>    
    <tr>
        <td valign="top" width="200"><div id="players" style="width:100%;"></div></td>
        <td valign="top">
            <table class="table table-hover">                
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <input type="hidden" name="PD[@(count)].Id" value="@item.Id" />
                                <input type="hidden" name="PD[@(count)].Name" value="@item.Name" />
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>                                
                                <a href="#" onclick="AddFromDictionary('@item.Name')">Добавить</a>
                            </td>
                        </tr>                        
                    }
                }
            </table>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(document).ready(AddEnterHandler)

    function AddEnterHandler() {
        $("#Players_NewPlayer").bind("keydown", function (event) {
            if (event.key == "Enter") {
                AddPlayer();
                return false;
            }

        });
    }
    function AddPlayer() {
        var playerName = $("#Players_NewPlayer");
        var count = $("#players > input").length
        $("#players").append("<input type=\"text\" name=\"Players[" + count + "].Name\" value=\"" + playerName.val() + "\"/>");
        count++;
        playerName.val("").focus();
    }
    function AddFromDictionary(playerName) {
        var count = $("#players > input").length
        $("#players").append("<input type=\"text\" name=\"Players[" + count + "].Name\" value=\"" + playerName + "\"/>");             
    }

</script>
